---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./secret.sops.yaml
  - ./helmrelease.yaml
  - ./httproute.yaml

# Strategic merge patches for DinD sidecar integration
patches:
- path: dind-sidecar-patch.yaml
  target:
    kind: Deployment
    name: openhands
