# Multiple secrets required by the OpenHands chart

---
apiVersion: v1
kind: Secret
metadata:
  name: jwt-secret
stringData:
  jwt-secret: "#{ openhands_global_secret }#"
---
apiVersion: v1
kind: Secret
metadata:
  name: redis
stringData:
  redis-password: "#{ openhands_redis_password }#"
---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-password
stringData:
  username: postgres
  password: "#{ openhands_pg_password }#"
  postgres-password: "#{ openhands_pg_password }#"
---
apiVersion: v1
kind: Secret
metadata:
  name: lite-llm-api-key
stringData:
  lite-llm-api-key: "#{ openhands_global_secret }#"
---
apiVersion: v1
kind: Secret
metadata:
  name: sandbox-api-key
stringData:
  sandbox-api-key: "#{ openhands_global_secret }#"
---
apiVersion: v1
kind: Secret
metadata:
  name: default-api-key
stringData:
  default-api-key: "#{ openhands_global_secret }#"
---
apiVersion: v1
kind: Secret
metadata:
  name: keycloak-realm
stringData:
  realm-name: openhands
  provider-name: email
  server-url: http://keycloak
  client-id: openhands
  client-secret: "#{ openhands_global_secret }#"
  smtp-password: ""
---
apiVersion: v1
kind: Secret
metadata:
  name: keycloak-admin
stringData:
  admin-password: "#{ openhands_global_secret }#"