---
# yaml-language-server: $schema=https://kubernetesjsonschema.dev/v1.18.1-standalone-strict/secret-v1.json
apiVersion: v1
kind: Secret
metadata:
  name: openhands-secrets
stringData:
  GLOBAL_SECRET: "#{ openhands_global_secret }#"
  LITELLM_TEAM_ID: "#{ litellm_team_id }#"
  POSTGRES_PASSWORD: "#{ openhands_pg_password }#"
  REDIS_PASSWORD: "#{ openhands_redis_password }#"
