# Multiple secrets required by the OpenHands chart

---
apiVersion: v1
kind: Secret
metadata:
  name: jwt-secret
stringData:
  jwt-secret: "#{ openhands_global_secret }#"
---
apiVersion: v1
kind: Secret
metadata:
  name: redis
stringData:
  redis-password: "#{ openhands_redis_password }#"
---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-password
stringData:
  username: postgres
  password: "#{ openhands_pg_password }#"
  postgres-password: "#{ openhands_pg_password }#"
---
apiVersion: v1
kind: Secret
metadata:
  name: lite-llm-api-key
stringData:
  lite-llm-api-key: "#{ openhands_global_secret }#"
