---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: openhands
components:
  - ../../components/common
resources:
  - ./secrets/ks.yaml
  - ./openhands/ks.yaml
  - ./postgresql/ks.yaml
  - ./pvc-monitor/ks.yaml
  - ./keycloak/ks.yaml
