---
# This is a separate Job that runs the database migrations for litellm.
apiVersion: batch/v1
kind: Job
metadata:
  name: litellm-migrations
  namespace: openhands
  annotations:
    fluxcd.io/reconcile: "true"
spec:
  template:
    spec:
      containers:
        - name: prisma-migrations
          image: "ghcr.io/berriai/litellm-database:main-v1.67.1-nightly"
          imagePullPolicy: IfNotPresent
          command: ["python", "litellm/proxy/prisma_migration.py"]
          workingDir: "/app"
          env:
            - name: DATABASE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: openhands-postgresql
                  key: username
            - name: DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: openhands-postgresql
                  key: password
            - name: DATABASE_HOST
              value: openhands-postgresql
            - name: DATABASE_NAME
              value: litellm
            - name: DATABASE_URL
              value: "postgresql://$(DATABASE_USERNAME):$(DATABASE_PASSWORD)@$(DATABASE_HOST)/$(DATABASE_NAME)"
            - name: DISABLE_SCHEMA_UPDATE
              value: "false"
      restartPolicy: OnFailure
  backoffLimit: 3
  ttlSecondsAfterFinished: 60
