#% if docker_username is defined -%#
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/v1.29.0/secret-v1.json
apiVersion: v1
kind: Secret
metadata:
  name: bitnami-credentials
  namespace: flux-system
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: #{ { "auths": { "registry-1.docker.io": { "username": docker_username, "password": docker_password } } } | tojson | b64encode }#
#%- endif %#
