---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
stringData:
  SECRET_DOMAIN: "#{ cloudflare_domain }#"
  LITELLM_TEAM_ID: "#{ litellm_team_id }#"
  LITELLM_BASE_URL: "#{ litellm_base_url }#"
  LITELLM_API_KEY: "#{ litellm_api_key }#"
  LITELLM_MODEL: "#{ litellm_model }#"
