# yaml-language-server: $schema=https://kubernetesjsonschema.dev/v1.18.1-standalone-strict/secret-v1.json
apiVersion: v1
kind: Secret
metadata:
  name: runtime-api-db-credentials
stringData:
  username: postgres
  password: "#{ openhands_pg_password }#"
  host: openhands-postgresql
  port: "5432"
  database: runtime_api_db