---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: openhands-keycloak
spec:
  interval: 15m
  timeout: 10m
  chartRef:
    kind: OCIRepository
    name: openhands
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  releaseName: openhands-keycloak
  dependsOn:
    - name: openhands-postgresql
  values:
    auth:
      existingSecret: keycloak-admin
    postgresql:
      enabled: false
    ingress:
      enabled: false
    externalDatabase:
      host: "openhands-postgresql"
      port: 5432
      database: openhands
      existingSecret: postgres-password
    resources:
      requests:
        memory: "1Gi"
      limits:
        memory: "2Gi"
    keycloakConfig:
      enabled: false
