# Multiple secrets required by the OpenHands chart

---
apiVersion: v1
kind: Secret
metadata:
  name: jwt-secret
stringData:
  jwt-secret: "#{ openhands_global_secret }#"
---
apiVersion: v1
kind: Secret
metadata:
  name: redis
stringData:
  redis-password: "#{ openhands_redis_password }#"
---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-password
stringData:
  username: postgres
  password: "#{ openhands_pg_password }#"
  postgres-password: "#{ openhands_pg_password }#"
  postgresql-password: "#{ openhands_pg_password }#"
---
apiVersion: v1
kind: Secret
metadata:
  name: lite-llm-api-key
stringData:
  lite-llm-api-key: "#{ openhands_global_secret }#"
---
apiVersion: v1
kind: Secret
metadata:
  name: sandbox-api-key
stringData:
  sandbox-api-key: "#{ openhands_global_secret }#"
---
apiVersion: v1
kind: Secret
metadata:
  name: default-api-key
stringData:
  default-api-key: "#{ openhands_global_secret }#"
---
apiVersion: v1
kind: Secret
metadata:
  name: keycloak-realm
stringData:
  realm-name: openhands
  provider-name: email
  server-url: http://openhands-keycloak:8080
  client-id: openhands
  client-secret: "#{ openhands_global_secret }#"
  smtp-password: ""
---
apiVersion: v1
kind: Secret
metadata:
  name: keycloak-admin
stringData:
  admin-password: "#{ openhands_global_secret }#"
---
apiVersion: v1
kind: Secret
metadata:
  name: github-app
stringData:
  app-id: ""
  webhook-secret: ""
  client-id: ""
  client-secret: ""
  private-key: ""
---
apiVersion: v1
kind: Secret
metadata:
  name: gitlab-app
stringData:
  client-id: ""
  client-secret: ""
---
apiVersion: v1
kind: Secret
metadata:
  name: clickhouse-password
stringData:
  password: "#{ openhands_global_secret }#"
---
apiVersion: v1
kind: Secret
metadata:
  name: langfuse-salt
stringData:
  salt: "#{ openhands_global_secret }#"
---
apiVersion: v1
kind: Secret
metadata:
  name: langfuse-nextauth
stringData:
  nextauth-secret: "#{ openhands_global_secret }#"
---
apiVersion: v1
kind: Secret
metadata:
  name: litellm-env-secrets
stringData:
  LLM_API_KEY: "#{ litellm_api_key }#"
  LLM_MODEL: "#{ litellm_model }#"
  LLM_BASE_URL: "#{ litellm_base_url }#"
  LLM_TIMEOUT: "#{ litellm_timeout }#"
  LLM_MAX_OUTPUT_TOKENS: "#{ litellm_max_output_tokens }#"

---
apiVersion: v1
kind: Secret
metadata:
  name: ghcr-login-secret       # ⇐ must match imagePullSecrets entry
type: kubernetes.io/dockerconfigjson
stringData:
  .dockerconfigjson: #{ {"auths": { "ghcr.io": { "auth": ((ghcr_username ~ ":" ~ ghcr_pat) | b64encode), "username": ghcr_username, "password": ghcr_pat } } } | tojson | b64encode }#