machine:
  network:
    disableSearchDomain: true
    features:
      # Disable the built-in DNS resolver to free up port 53
      hostDNS:
        enabled: false
    nameservers:
      #% for item in node_dns_servers %#
      - #{ item }#
      #% endfor %#
