---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: network
resources:
  - ./configmap.yaml
  - ./pvc.yaml
  - ./helmrelease.yaml
commonLabels:
  app.kubernetes.io/name: adguard-home
  app.kubernetes.io/instance: adguard-home