---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: adguard-home-data
  namespace: network
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: longhorn
  selector:
    matchLabels:
      app: adguard-home